/**
  Description: Миксин запрещает перемещать и выделять указанную сущность!
*/

@define-mixin MixUserDrag $var: none {
  user-drag: $var;
  -webkit-user-drag: $var;
  user-select: $var;
  -moz-user-select: $var;
  -webkit-user-select: $var;
  -ms-user-select: $var;
}
