<!-- TEMPLATE -->
<template>
  <section data-app="SSL" class="section">
    <h3>New Credentials</h3>
    <!-- <h2>{{ res }}</h2> -->

    <form id="v-form-ssl" :class="[$style.box]" @submit.prevent="sendForm">
      <div :class="[$style.item, $style.list]">
        <FieldUser></FieldUser>
        <FieldPubKey></FieldPubKey>
        <div :class="[$style.group]">
          <label :class="[$style.check]"><input v-model="checkedButton" type="checkbox" /><span></span></label>
          <p v-if="!checkedButton" :class="[$style.title]">{{ !checkedButton ? 'authenticatorSelection: {}' : '' }}</p>

          <FieldAuthenticator v-if="checkedButton" />
        </div>
      </div>

      <div :class="[$style.item]">
        <button form="v-form-ssl" type="submit" :class="[$style.btn]" :disabled="submitDisabled">Register</button>
      </div>
    </form>
  </section>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts" setup>
  import { useToast } from 'vue-toastification';
  import { ref } from 'vue';
  import { useUserStore } from '@stores/user';
  import { randomID } from './Utils';
  import { credentialsCreate, credentialsDecode } from './CredentialsSetup';

  const store = useUserStore();
  const toast = useToast();

  const hostName = ref(location?.hostname);
  const ID = ref(randomID());
  const checkedButton = ref(false);
  const submitDisabled = ref(false);

  // const shareBuffer = ref('');

  const sendForm = async () => {
    try {
      submitDisabled.value = true;
      store.credentialState = 'sendForm';
      toast('Pls wait...', { timeout: false, id: ID.value });

      const publicKey = credentialsCreate(hostName.value, checkedButton.value);
      store.credential = { publicKey };

      const result = await navigator.credentials.create({ publicKey });
      store.credential = credentialsDecode(result);

      store.credentialState = 'DONE';
      toast.success(store.credentialState);

      return result;
    } catch (error) {
      console.error(`[LOG] error`, `<${typeof error}>`, error);

      store.credentialState = 'cancelled';
      toast.error(store.credentialState);
    } finally {
      submitDisabled.value = false;
      toast.dismiss(ID.value);
    }
  };
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1rem;
    gap: 1rem;
    justify-content: stretch;
    height: 47rem;
    grid: max-content / 1fr;
    align-items: end;

    @mixin media 948 {
      grid-auto-flow: row;
      height: auto;
    }
  }

  .list {
    display: grid;
    gap: 1rem;
  }
  .title {
    grid-gap: 1rem;
    color: #333;
    display: grid;
    font-size: 1rem;
    font-weight: 700;
    gap: 1rem;
    grid-auto-flow: column;
    justify-content: start;
  }
  .btn {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #1f2430;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
    border: 0 solid #fff;
    color: #fff;
    transition: background-color 0.123s var(--trs-cubic);
    &:hover {
      background-color: #39435a;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: #ccc;
    }
  }

  .group {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;

    @mixin media 948 {
      grid-auto-flow: row;
    }
  }
  .check {
    --size: 1rem;

    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #0000;
    display: grid;
    font-size: 0;
    width: var(--size);
    height: var(--size);
    grid-auto-flow: column;
    line-height: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & span {
      --span: 0.6rem;

      width: var(--span);
      height: var(--span);
      border: 1px solid #0000;
      border-radius: 3px;
    }

    & input {
      font-size: 0;
      width: 0;
      height: 0;
      opacity: 0;
      user-select: none;
    }

    & input:checked + span {
      background-color: #676e73;
    }
  }
</style>
