<!-- TEMPLATE -->
<template>
  <template v-if="type === 'text'">
    <label :for="id">{{ label }}:</label>
    <input :id="id" :name="id" :type="type" :value="value" :modelValue="value" autocomplete="off" @input="emitInput" />
  </template>

  <template v-if="type === 'checkbox'">
    <label :for="id">{{ label }}: </label>
    <input
      :id="id"
      :name="id"
      :type="type"
      :value="value"
      :modelValue="value"
      :checked="Boolean(value)"
      @input="emitCheckbox"
    />
  </template>

  <template v-if="type === 'select'">
    <label :for="id">{{ label }}: </label>

    <select :id="id" :class="[$style.select]" :modelValue="value" @input="emitInput">
      <template v-for="(f, dex) in option" :key="dex">
        <option :value="f">{{ f?.length <= 1 ? optionDefault : f }}</option>
      </template>
    </select>
  </template>

  <template v-if="type === 'radio'">
    <label :for="id">{{ label }}: </label>
    <input :id="id" :name="id" :type="type" :modelValue="value" @input="emitInput" />
  </template>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts" setup>
  import { ref } from 'vue';

  const optionDefault = ref('---');

  defineProps<{
    label: string;
    type?: string;
    option?: string[];
    value?: string[] | string | boolean;
    alg?: number;
    id?: string;
    modelValue: string | boolean;
  }>();

  // eslint-disable-next-line sonarjs/no-duplicate-string
  const emit = defineEmits(['update:modelValue', 'update:checkbox']);

  const emitInput = (event: Event) => {
    const target = event.target as HTMLInputElement;
    return emit('update:modelValue', target.value);
  };

  const emitCheckbox = (event: Event) => {
    const target = event.target as HTMLInputElement;
    return emit('update:modelValue', target.checked);
  };
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.4rem;
  }
</style>
