<!-- TEMPLATE -->
<template>
  <section data-app="Output" class="section">
    <h3>Output</h3>
    <div :class="[$style.box]">
      <div :class="[$style.space]">
        <p>State: {{ credentialState }}</p>
        <button v-if="credentialState.value === 'DONE'" :class="[$style.btn]" @click.prevent="clipboard">COPY</button>
      </div>
      <div v-if="booleanCredential" :class="[$style.item]">
        <pre :class="[$style.pre]"> {{ credential ?? 'USER!' }} </pre>
      </div>
      <div v-else :class="[$style.item]">
        <pre :class="[$style.pre]">{{ user ?? '{}' }}</pre>
        <pre :class="[$style.pre]">{{ pubKeyCredParameters ?? '{}' }}</pre>
        <pre :class="[$style.pre]">{{ authenticatorSelection ?? '{}' }}</pre>
      </div>
    </div>
  </section>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts" setup>
  import { useToast } from 'vue-toastification';
  import { useUserStore } from '@stores/user';
  import { computed, ref, toRaw } from 'vue';
  import useClipboard from 'vue-clipboard3';

  const { toClipboard } = useClipboard();

  const store = useUserStore();
  const toast = useToast();

  const credential = computed(() => ref(store.credential));
  const credentialState = computed(() => ref(store.credentialState));

  const user = computed(() => ref(store.user));
  const pubKeyCredParameters = computed(() => ref(store.pubKeyCredParams));
  const authenticatorSelection = computed(() => ref(store.authenticatorSelection));

  const booleanCredential = computed(() => store.credentialLength);

  const clipboard = async () => {
    const getStore = JSON.stringify(toRaw(store.credential));

    await toClipboard(getStore);
    toast('the text to be copied!');
  };
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1rem;
    overflow-y: scroll;
    align-items: start;
    justify-content: stretch;
    height: 47rem;
    grid: max-content / 1fr;
    position: relative;

    @mixin media 948 {
      height: auto;
    }
  }

  .pre {
    font-size: 12px;
    line-height: normal;
    white-space: break-spaces;
    word-break: break-all;
  }
  .space {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    position: absolute;
    width: auto;
    left: 1rem;
    right: 1rem;
    top: 1rem;

    @mixin media 948 {
      left: 0.5rem;
      right: 0.5rem;
      top: 0.5rem;
    }
  }
  .item {
    margin-top: 1.5rem;
  }
  .btn {
    background-color: #4caf50;
    border: 0 solid #0000;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: normal;
    padding: 0.3rem 1rem;
    line-height: normal;
  }
</style>
