<!-- TEMPLATE -->
<template>
  <div v-for="(f, dex) in items" :key="dex" :class="[$style.content]">
    <div :class="[$style.title]">
      {{ dex }}: <span :class="[$style.prefix]">{{ f?.prefix.before }}</span>
    </div>

    <template v-for="(content, index) in f?.item" :key="index">
      <div :class="[$style.group]">
        <BaseTypeInput v-model="content.value" v-bind="content"></BaseTypeInput>
      </div>
    </template>
    <span>{{ f?.prefix.after }} </span>
  </div>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts" setup>
  import { onUnmounted, ref } from 'vue';
  import { useUserStore } from '@stores/user';
  import { addFields } from '@components/Base/AddFieldsToInput';

  const store = useUserStore();

  const items = ref(
    addFields({
      authenticatorSelection: {
        item: [
          {
            label: 'authenticatorAttachment',
            type: 'select',
            option: ['platform', 'cross-platform'],
          },
          {
            label: 'requireResidentKey',
            type: 'checkbox',
          },
          {
            label: 'userVerification',
            type: 'select',
            option: ['preferred', 'discouraged', 'required'],
          },
        ],
      },
    })
  );

  store.authenticatorSelection = (items.value as typeof store.authenticatorSelection) ?? ref({});

  onUnmounted(() => (store.authenticatorSelection = {} as any));
</script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .content {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    justify-content: start;
  }
  .group {
    display: grid;
    gap: 1rem;
    grid: 1fr / auto minmax(200px, max-content);
    justify-content: end;
    margin-left: 1rem;
    align-items: center;

    & label {
      font-size: 14px;
      color: #333;
    }
    & input {
      border: 0 solid #ccc;
      border-radius: 6px;
      padding: 0.3rem 0.6rem;
      background-color: #f1f8ff;
    }

    @mixin media 948 {
      grid: 1fr / 1fr;
      justify-content: stretch;
    }
  }
  .title {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    justify-content: start;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }

  .prefix {
    font-weight: normal;
  }
</style>
