<!-- TEMPLATE -->
<template>
  <section data-app="Credentials" class="section">
    <div :class="[$style.box]">
      <div :class="[$style.group]">
        <BaseSSL></BaseSSL>
        <BaseOutput></BaseOutput>
      </div>
    </div>
  </section>
</template>
<!-- - ⚡ - -->

<!-- SCRIPT -->
<script lang="ts" setup></script>
<!-- - ⚡ - -->

<!-- STYLE -->
<style lang="postcss" module>
  .box {
    display: grid;
  }
  .group {
    display: grid;
    grid: 1fr / repeat(auto-fit, minmax(450px, 1fr));

    @mixin media 767 {
      grid: 1fr / 1fr;
    }
  }
</style>
