<template>
  <TheCredentials />
</template>

<script setup lang="ts"></script>

<style lang="postcss">
  @import 'sanitize.css';
  @import '@style/pcss/var.pcss';
  @import '@style/pcss/index.pcss';

  #app {
    max-width: 1260px;
    margin: 3rem auto;
    padding-bottom: 2rem;
  }
</style>
